/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.Header {
  position: absolute;
  top: 0;
  background: rgba(30,30,30, .2);
  color: #fff;
  z-index: 1;
  width: 100%;
}

.Header-container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
  height: 110px;
}

.Header-brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.Header-brandTxt {
  font-family: Rancho;
  font-size: 2em;
  text-align: center;
  display: block;
  color: #F7F7F7;
  line-height: 1.2em;
}

.Header-nav {
  text-align: center;
  margin-top: 6px;
}

.Header-banner {
  text-align: center;
}

.Header-bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.Header-bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}
