
@import '../variables.css';

.video-wrapper {
  position: relative;
  width: 100%;
}

.bg-video {
  width: 100%;
  cursor: pointer;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  color: var(--white-base);
  cursor: pointer;
}

.play-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

